.idea/
*/__pycache__/*
ray/
/build_ray_from_source.txt
policies/minimax_test.py
/train_info.txt
old_data/*
important_checkpoints/*
!important_checkpoints/.gitkeep

# exclude everything
checkpoints/*
# exception to the rule
!checkpoints/.gitkeep 
ray_results/*
!ray_results/.gitkeep
log/*
!log/.gitkeep

log/match.log

