.idea/
*/__pycache__/*
ray/
/build_ray_from_source.txt
policies/minimax_test.py
/tensorboard_run.txt
/Problems.txt
/RLlib_Tips.txt
/train_info.txt
old_data/*
test_board_config/
important_checkpoints/*
!important_checkpoints/.gitkeep
tensorboard _run.txt
custom_metrics.json
Callbacks_test.txt
Full_episode_iteration.txt
Full_sample_collection.txt
weights.npy


/output_dir
# exclude everything
checkpoints/*
# exception to the rule
!checkpoints/.gitkeep 
ray_results/*
!ray_results/.gitkeep
log/
!log/.gitkeep



